/* Styles for the movie list section */
.movie__list {
    padding: 0 3rem 3rem 3rem; /* Add padding to the movie list section */
}

/* Styles for the movie title */
.movie__title {
    font-size: 1.75rem; /* Set font size for the movie title */
    margin: 2.5rem 0; /* Add margin to the top and bottom of the movie title */
}

/* Styles for the movie boxes */
.movie__box {
    display: flex; /* Display movie boxes as a flex container */
    flex-wrap: wrap; /* Allow movie boxes to wrap to the next row */
}